openai==1.65.2
anthropic==0.25.7
google-generativeai==0.5.2
tiktoken==0.7.0
streamlit==1.33.0
langchain==0.1.20
langchain-community==0.0.38
langchain-openai==0.1.7
langchain-core==0.1.53
langchain-google-genai==1.0.3
langchain-anthropic==0.1.11
langchain-text-splitters==0.0.2
python-dotenv==1.0.1

